*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}


.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
}

.container{
    background-color: var(--primary-color);
    border: 10px solid black;
    min-height: 100vh;
    color: var(--secondary-color);

}

.content{
    max-width: 800px;
    margin: 0 auto;
}

.name-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.name-section h1 {
    font-size: 50px;
    color: var(--secondary-color);
    font-weight: bold;
}

.name-section h4 {
    font-size: 1.8rem;
    text-align: right;
}

.image-container {
    border-radius: 50%;
    overflow: hidden;
}
img{
    width: 300px;
    height: 300px;
}

.about-section {
    margin-top: 50px;

}

.about-section h1{
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 20px;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-align: justify;
    font-family: Helvetica, sans-serif;
}

.bio {
    margin: 50px 0;
}

.bio h3 {
    margin-bottom: 20px;
    
}

.bio li {
    margin-bottom: 10px;
    font-family: sans-serif;
}

.bio ul {
    margin-left: 50px;
}


footer {
    margin: 50px 0;
    text-align: end;
    font-size: 15px;
}

footer a {
    text-decoration: none;
    font-weight: bold;
}

#preloader {
    background: #fff url(./preloader.gif) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}