body{
    background-color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('./images/brown\ background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1{
    border-bottom: 2px dotted black;
    width: 30%;
    text-align: center;
    margin: auto;
}

div{
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}
p{
    text-align: center;
    font-size: 42px;
}

div.a1{
    font-style: italic;
    font-size: inherit;
    font-size: 4.8vh;
    font-family: Arial, Helvetica, sans-serif;
}
div.a2{
    font-style: inherit;
    font-weight: lighter;
    font-size: 39px;
}
div.a3{
    font-style: oblique;
    font-size: 2.5rem;
    font-family: monospace;
}

button{
    margin: auto;
    width: 100px;
    height: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
}

i{
    font-size: 160px;
    
}